body {
	margin: 0 auto;
	background-color: black;
}
.ul {
	object-fit: cover;
	transition: all 1s ease;
}
img.fadeOut {
	opacity: 0;
}
@media (min-width: 960px) {
	html {
		overflow: hidden;
	}
	.leftContainer {
		float: left;
		width: 50%;
		padding-right: 5px;
	}
	.left {
		float: right;
		height: 1080px;
	}
	#upperLeft {
		position: relative;
		height: 535px;
	}
	#lowerLeft {
		position: relative;
	}
	.leftImg {
		position: absolute;
		top: 0;
		right: 0;
		width: 830px;
		height: 535px;
	}
	.rightContainer {
		float: left;
		width: 49.5%;
	}
	.rightImg {
		max-width: 850px;
		height: 1080px;
		margin-left: 5px;
	}
	.divider1st {
		height: 5px;
	}
}
@media (max-width: 960px) {
	html {
		overflow-y: scroll;
	}
	.leftImg {
		width: 100%;
	}
	.rightImg {
		width: 100%;
	}
	.divider1st {
		height: 0px;
	}
	.divider2nd {
		height: 0px;
	}
}
